//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.p-code {
	margin-top: 63px;
	padding: 50px;

	text-align: left;

	color: $text-brown;
	background-color: $bgc-gray;
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
