//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.p-table {
	margin-top: 50px;

	background-color: $bgc-white;

	table {
		width: 100%;

		text-align: left;
	}

	tr {
		td {
			width: 32%;
			padding: 28px 30px;

			outline: 1px solid $text-black;
		}

		td:nth-child(2) {
			width: 68%;
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
